/* Star Footer */
.footer {
  position: absolute;
  bottom: 1;
  width: 100%;
  background-color: #ffffff;
  line-height: 20px;
  border-top: 1px solid #dddddd;
  overflow: hidden;
  margin-top: 1px;
  height: 500px;
}
.footer nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer nav > ul a:not(.btn) {
  color: #777777;
  display: block;
  margin-bottom: 3px;
}
.footer .social-area {
  padding: 15px 0;
}
.footer .social-area h5 {
  padding-bottom: 15px;
}
.footer .copyright {
  color: #777777;
  padding: 10px 15px;
  margin: 15px 3px;
  line-height: 20px;
  text-align: center;
}
.footer hr {
  border-color: #f5f5f5;
}
.footer .title {
  color: #777777;
}
.footer .title {
  text-align: left;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
}
.footer .btn-social {
  color: #9a9a9a;
}
.footer:not(.footer-big) nav > ul {
  font-size: 16px;
}
.footer:not(.footer-big) nav > ul li {
  margin-left: 20px;
  float: left;
}
.footer:not(.footer-big) nav > ul a {
  padding: 10px 0px;
  margin: 15px 10px 15px 0px;
}
.footer-color-gray {
  background-color: #f5f5f5;
}
.footer-color-black,
.footer-transparent {
  background-color: #070d18;
  color: #dddddd;
}
.footer-color-black nav > ul a,
.footer-transparent nav > ul a {
  color: #ffffff;
}
.footer-color-black .social-area > a:not(.btn),
.footer-transparent .social-area > a:not(.btn) {
  color: #ffffff;
}
.footer-color-black .btn-social,
.footer-transparent .btn-social {
  color: #ffffff;
}
.footer-color-black hr,
.footer-transparent hr {
  border-color: #444444;
}
.footer-color-black .title,
.footer-transparent .title {
  color: #dddddd;
}
.footer-transparent {
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}
.footer-transparent .container {
  z-index: 2;
  position: relative;
}
.footer-transparent::after {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(17, 17, 17, 0.8);
  display: block;
  content: "";
  z-index: 1;
}
.footer-big {
  padding-top: 30px;
}
.footer-big hr {
  margin-bottom: 10px;
  margin-top: 10px;
}
.footer-big .container > hr {
  margin-top: 50px;
}
.footer-big .copyright {
  margin: 10px 0px 20px;
}
.footer-big .social-area > * {
  margin: 0 15px;
}
.footer-big nav > ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
.footer-big nav > ul li {
  float: none;
}
.footer-big nav > ul .btn {
  margin-bottom: 5px;
}
.footer-big nav > ul .btn-social.btn-simple {
  padding: 0 0 4px 0;
}
.footer-big .form-group {
  margin-top: 15px;
}
.footer-big .numbers h4 {
  margin: 0 0 10px 0;
}
.footer-hover:hover {
  transition: all 700ms;
  color: #777777;
}
#footer-hover2:hover {
  transition: all 700ms;
  color: #dddddd;
}
/* End Footer */
