/* Star Register-Login */
.body {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.img-register {
  width: 70vw;
  height: 100vh;
}
.limiter-register {
  width: 30vw;
  height: 100vh;
  background-color: #070d18;
  position: relative;
}
.limiter-login {
  width: 30vw;
  height: 100vh;
  background-color: #070d18;
  position: relative;
}
.p-b-43 {
  padding-bottom: 43px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-46 {
  padding-top: 46px;
}
.form-register {
  width: 100%;
  color: whitesmoke;
}
.input-register {
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #444444;
}
.boton-register {
  border-radius: 10px;
  background-color: rgb(1, 151, 221);
  width: 100%;
  border: none;
  transition: all 700ms;
}
.boton-register:hover {
  background-color: aqua;
  transition: all 700ms;
}
.text-login {
  color: rgb(219, 218, 218);
  font-weight: 600;
}
.text-login-2 {
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.icono-login {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: #ffffff;
  transition: all 500ms;
}
.icono-login:hover {
  transition: all 500ms;
  color: #070d18;
}
.icono-register {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 30px;
  color: #ffffff;
  transition: all 500ms;
}
.icono-register:hover {
  transition: all 500ms;
  color: rgb(1, 151, 221);
}
/* End Register-Login */
