@import url("https://fonts.googleapis.com/css2?family=Patua+One&display=swap");
body {
  margin: 0;
  font-family: "Patua One", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

Link,
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
